<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="registerController">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="../js/jquerys/jquery-1.7.2.min.js"></script>
    <script src="../js/import/angular.min.js"></script>
    <script src="../js/home/register.js"></script>
    <link href="../css/home/register.css" rel="stylesheet">
</head>
<body>
<div id="reg">
    <div class="reg-input" ng-show="send==0">
        <table>
            <tr>
                <td class="left">昵称：</td>
                <td><input type="text" ng-model="user.NICKNAME"/></td>
            </tr>
            <tr>
                <td class="left">密码：</td>
                <td><input type="password" ng-model="user.PASSWORD"/></td>
            </tr>
            <tr>
                <td class="left">确认密码：</td>
                <td><input type="password" ng-model="confirmPass"/></td>
            </tr>
            <tr>
                <td class="left">手机号：</td>
                <td><input type="tel" ng-model="user.TEL"/></td>
            </tr>
            <tr>
                <td class="left">邮箱：</td>
                <td><input type="text" ng-model="user.EMAIL"/></td>
            </tr>
            <tr>
                <td class="left">设置头像：</td>
                <td><input type="file" style="line-height: 30px" ng-model="user.HEAD"/></td>
            </tr>
            <!--<tr>
                <td class="left">设置常用收货地址：</td>
                <td><textarea name="" id="" cols="36" rows="5"></textarea></td>
            </tr>-->
            <tr>
                <td colspan="2" class="sure"><a href="javascript:void(0)" ng-click="regist()">立即注册</a></td>
            </tr>
            
            <tr>
                <td colspan="2" class="regNow"><a href="javascript:void(0)" ng-click="loginNow()">已有账号，去登录！</a></td>
            </tr>

        </table>
    </div>
    <div class="reg-input" ng-show="send==1">
    	{{mailMessage}}
    </div>
</div>
<div id="extending"></div>
</body>
</html>