<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>支付</title>
    #include("/WEB-INF/pages/tpl/header.vm")
    <script src="../js/pay/index.js"></script>
    <script src="../js/ext/queue.js"></script>
    <link href="../css/pay/pay.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="payController">
#include("/WEB-INF/pages/tpl/body.vm")
<div id="pay">
    <div class="addr">
        <h3>收货人信息</h3>
        <table>
            <tr class="thead">
                <th rowspan="2"></th>
                <th rowspan="2">收货人</th>
                <th colspan="4">地址</th>
                <th rowspan="2">联系方式</th>
                <th rowspan="2">邮编</th>
                <th rowspan="2">操作</th>
            </tr>
            <tr class="thead">
                <td>省</td>
                <td>市</td>
                <td>区/县</td>
                <td>详细地址</td>
            </tr>
            <tr class="tbody" ng-repeat="ad in addresses">
                <td class="chose"><input type="radio" name="address" ng-click="sureAddr(this)"/></td>
                <td><input type="text" class="shr" ng-model="ad.shr"/></td>
                <td><select ng-model="ad.province" ng-options="p for p in provinces" ng-model="ad.province"></select></td>
                <td><select ng-model="ad.city" ng-options="c for c in citys" ng-model="ad.city"></select></td>
                <td><select ng-model="ad.county" ng-options="co for co in counties" ng-model="ad.county"></select></td>
                <td><input type="text" class="xxdz" ng-model="ad.detail"/></td>
                <td><input type="text" class="tel" ng-model="ad.tel"/></td>
                <td><input type="text" class="mail" ng-model="ad.mail"/></td>
                <td class="ope"><a href="javascript:void(0)" ng-click="removeAddr(this)">移除</a></td>
            </tr>
        </table>
        <a href="javascript:void(0)" ng-click="addAddr()">新增</a>
        <a href="javascript:void(0)" ng-click="saveAddr()">保存</a>
    </div>
    <div class="payWay">
        <h3>付款方式</h3>
        <table>
            <tr>
                <td class="select"><input type="radio"/></td>
                <td class="way">货到付款</td>
            </tr>
            <tr>
                <td class="select"><input type="radio"/></td>
                <td>支付宝付款</td>
            </tr>
            <tr>
                <td class="select"><input type="radio"/></td>
                <td class="way">余额宝付款</td>
            </tr>
            <tr>
                <td class="select"><input type="radio"/></td>
                <td class="way">微信付款</td>
            </tr>
            <tr>
                <td class="select"><input type="radio"/></td>
                <td class="way">银行卡付款</td>
            </tr>
        </table>
    </div>
    <div class="makeSure">
        <h3>确认订单</h3>
        <table>
            <tr class="head">
                <th>商家</th>
                <th>商品</th>
                <th>数量</th>
                <th>价格</th>
                <th>总计</th>
            </tr>
            <tr class="cont" ng-repeat="g in goods">
                <td style="width: 200px;">{{g.S_NAME}}</td>
                <td style="width: 500px">{{g.G_TITLE}}</td>
                <td style="width: 200px">{{g.NUMBER}}</td>
                <td style="width: 300px">{{g.PRICE}}</td>
                <td style="width: 300px">{{totalPrice}}</td>
            </tr>
            <tr class="fot">
                <td colspan="4" class="sh" ng-show="add!=null">收货地址：{{add.province}} {{add.city}} {{add.county}} {{add.detail}} | 联系人: {{add.shr}} | 联系电话：{{add.tel}}</td>
                <td colspan="3" class="zf"><a href="javascript:void(0)" ng-click="payNow()">支付</a></td>
            </tr>
        </table>
    </div>
</div>
#include("/WEB-INF/pages/tpl/footer.vm")
</body>
</html>