#news {
    width: 100%;
    position: relative
}

#news ul {
    width: 85%;
    height: 50px;
    list-style-type: none;
    margin: 0 10%;
}

#news ul li {
    height: 50px;
    float: left;
    margin-left: 50px;
    line-height: 50px;
}

.newBarHover {
    border-bottom: 3px solid #188eee;
}

#news .Line {
    height: 3px;
    width: 80px;
    position: absolute;
    background: #188eee;
    left: 178px;
    top: 45px
}

#news ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

#news ul li a:hover {
    font-size: 14px;
    font-weight: bold;
}

#news .Content {
    width: 1250px;
    height: 210px;
    background: #f5f5f5;
    margin: 2px auto;
    display: none;
    padding-top: 15px;
    padding-left: 10px;
}

#news #Con .Title ul li a.ys {
    color: #188eee;
}

#news .Content dl {
    width: 240px;
    height: 180px;
    padding: 10px 4px;
    float: left;
}

#news .Content dl dt {
    width: 234px;
    height: 126px;
    background: yellow;
    margin: auto;
}

#news .Content dl dd {
    font-size: 14px;
    font-family: 微软雅黑;
    height: 30px;
    line-height: 30px;
    padding-left: 5px
}

#news .Content dl dd a {
    color: black;
    text-decoration: none;
}

#news .Content dl dd a:hover {
    color: #188eee;
    text-decoration: none;
}

#news .Content dl dd span {
    color: #FF5200;
    font-weight: bold;
}

#news .Content dl dd i {
    width: 1px;
    height: 10px;
    background: #666;
    display: inline-block;
    margin: 0 10px;
}

#news .Content dl dd a.mc {
    color: #666;
}

#news .Content dl dd a.mc:hover {
    color: #188eee;
}

#news .Content dl dd.Price {
    height: 20px;
    line-height: 20px;
}

#news .Content dl.hover {
    background: #fff;
}

#products {
    width: 93%;
    margin: 0 auto;
}

#products .recommend {
    width: 100%;
    margin: 20px auto;
}

#products .recommend .banner {
    border: 1px solid red;
    float: right;
    width: 50px;
    height: 50px;
}

#products .recommend .catalog {
    width: 26%;
    height: 100%;
    float: left
}

#products .phone {
    width: 100%;
    margin: 0px auto;
    border-left: 1px solid #ffbf00;
    border-top: 1px solid #ffbf00;
    height: 450px;
    box-shadow: -2px -2px 25px -6px orange;
    opacity: 0.9;
    -webkit-box-shadow: -2px -2px 25px -6px #ffbf00;
    -moz-box-shadow: -2px -2px 25px -6px orange;
}

#products ul{
    color: #333;
    font: 12px/22px "Microsoft Yahei", "SimSun", "Arial Narrow", HELVETICA;
    padding-top: 20px;
    padding-left: 50px;
    width: 350px;
    float:left;
}

#products ul li{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    list-style-type: none;
    position: relative;
}

#products ul li:hover{
    height: 55px;
    line-height: 55px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

#products ul li span{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 100, 100);
    padding: 0px 2px;
}

#products ul li span.up{
    width: 51px;
    height: 32px;
    background: url("../../images/home/icons/qushi.png") no-repeat;
    position: absolute;
    left: 0px;
    top: 10px;
}

#products .container{
    margin-top: 30px;
    width: 350px;
    height: 400px;
    float: left;
}
#products .container .pic{
    margin: 0 auto;
    width:228px;
    height:265px;
}

#products .container .content{
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    text-indent: 20px;
	width:80%;
    margin: 20px auto;
    color: #919191;
}

#products .tv {
    width: 100%;
    margin: 0 auto;
    border-right: 1px solid orangered;
    border-top: 1px solid orangered;
    height: 509px;
    box-shadow: 2px -2px 18px -7px red;
    opacity: 0.9;
    -webkit-box-shadow: 2px -2px 18px -7px red;
    -moz-box-shadow: 2px -2px 18px -7px red;
}

