<div id="copyright">
    <div>
        <a href="#" target="_blank" rel="nofollow">关于Zachory</a> | <a
            href="#" target="_blank" rel="nofollow">About Zachory</a> | <a
            href="#" target="_blank" rel="nofollow">服务协议</a> | <a href="#"
                                                                  target="_blank" rel="nofollow">隐私政策</a> | <a
            href="http://open.qq.com/" target="_blank" rel="nofollow">开放平台</a> |
        <a href="#" target="_blank" rel="nofollow">广告服务</a> | <a href="#"
                                                                 target="_blank" rel="nofollow">Zachory招聘</a> | <a href="#"
                                                                                                                   target="_blank" rel="nofollow">Zachory公益</a> | <a href="#"
                                                                                                                                                                     target="_blank" rel="nofollow">客服中心</a> | <a href="#"
                                                                                                                                                                                                                  target="_blank" rel="nofollow">网站导航</a>
    </div>
    <div class="en">Copyright &copy; 1993 - 2016 Zachory. All Rights
        Reserved</div>
    <div>
        <a href="#" target="_blank" rel="nofollow">Zachory公司</a> <a href="#"
                                                                    target="_blank" rel="nofollow">版权所有</a>
    </div>
</div>