<!DOCTYPE html>
<html lang="zh-cn" ng-app="app" ng-controller="goodsController">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    #include("/WEB-INF/pages/tpl/header.vm")
    <script src="../js/goods/index.js"></script>
    <script src="../js/ext/queue.js"></script>
    <link href="../css/goods/goods.css" rel="stylesheet">
</head>
<body>
 #include("/WEB-INF/pages/tpl/body.vm")
<div id="goodsContainer">
    <div class="g-box">
        <div class="item-preview">
            <div class="good-pic">
                <img width="350" height="350" ng-src="{{bigNo}}" />
            </div>
            <div class="good-list">
                <!-- <a href="javascript:;" class="spec-control" id="spec-forward"></a>
                <a href="javascript:;" class="spec-control" id="spec-backward"></a> -->
                <div class="good-items">
                    <ul>
                        <li ng-repeat="p in showPics"><img alt="" ng-src="{{p}}" width="50" height="50" ng-mouseover="s2b(this)"></li>
                    </ul>
                </div>
            </div>
            <div class="good-share">
                <div class="good-msg">
                    <span>商品编号：</span>
                    <span>{{good.G_ID}}</span>
                </div>
                <a href="#" style="padding-left: 65px;">
                    <span class="follow-btn">关注商品</span>
                </a>
                <a href="#" style="padding-left: 80px;">
                    <span class="share-btn">分享</span>
                </a>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="item-inner">
            <div class="good-info">
                <div class="good-name">
                    <h1>{{good.G_TITLE}}</h1>
                    <p>{{good.G_PAY_SUPPORT}}</p>
                    <a href="#">{{good.G_ADV}}</a>
                </div>
                <div class="good-summary">
                    <div class="prePrice">原价：<span>¥ {{good.G_COST_ORI}}</span></div>
                    <div class="nowPrice">现价：<span>¥ {{good.G_COST}}</span></div>
                    <div class="forSale">
                    	优惠信息：
                    	{{good.G_DISCONT.title}}:
                        <ul ng-repeat="c in good.G_DISCONT.cont">
                            <li><span class="h-red-bg">{{c.type}}</span> {{c.desc}} <a href="#">详情 >></a></li>
                            <!-- <li><span class="h-red-bg">满额返券</span>买三星S7,送SK-II官方品牌899减100代金券，全场使用，点击领取 <a href="#">详情 >></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="good-choose">
                    <ul>
                        <li ng-repeat="opt in good.G_OPTIONS">
                        	{{opt.title}}:
                        	<span ng-repeat="o in opt.opts"><input type="radio" value="{{o.price}}" name="{{o.name}}" ng-click="calcuTotal(o.price)"/>{{o.type}}</span>
                        </li>
                        <li>数量：<input type="text" ng-model="number" type="number" ng-change="calcuTotal(0)"></li>
                        <li>总计：{{totalPrice}}</li>
                    </ul>
                    <div class="confirm">
                        <a href="javascropt:void(0)" ng-click="test()" class="buy">立即购买</a>
                        <a href="javascropt:void(0)" ng-click="test()" class="add">加入购物车</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-ext">
            <div class="ext-info">
                <div class="brand">
                    <a href="#" target="_blank">
                        <!-- <img src="../images/goods/sum-logo.jpg" title="三星手机旗舰店"> -->
                        <img ng-src={{shop.S_LOGO}} title="三星手机旗舰店">
                    </a>
                </div>
                <div class="seller">
                    <a href="{{shop.S_HOME}}">{{shop.S_NAME}}</a>
                    <span class="h-red-bg" style="float: right;line-height: 18px;">{{shop.S_BELONG}}</span>
                    <div style="clear:both"></div>
                </div>
                <div class="seller-service">
                    <div class="comment">
                        <dl>
                            <dt>描述</dt>
                            <dd class="tb-rate-higher">
                                <a href="#" target="_blank">
                                    {{shop.S_DES_SCORE}}
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>服务</dt>
                            <dd class="tb-rate-higher">
                                <a href="#" target="_blank">
                                    {{shop.S_SERVICE_SCORE}}
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>物流</dt>
                            <dd class="tb-rate-higher">
                                <a href="#" target="_blank">
                                    {{shop.S_LOGISTICS_SCORE}}
                                </a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="mall-service"></div>
            </div>
        </div>
    </div>
</div>
<div id="extending"></div>
#include("/WEB-INF/pages/tpl/footer.vm")
</body>
</html>